$color-azul: blue;
$color-bl: white;

body{
    background-color: $color-bl !important;

    #tit{
        color:$color-azul;
        margin-bottom: 4%;
        margin-top: 10%;
    }

    .text-center{
        margin-bottom: 3%;
        height: auto;
        width: auto;
    }

    .textinicio{
        color: $color-azul;
        font-family: Brush Script MT,cursive; 
        font-size: 150%;
    }

    Table{
        margin-top: 5%;
        margin-left: 3%;
        margin-right: 3%;

        td{
            border: 1px solid black;
            border-collapse: collapse;
        }
    }
}

.row{
    @extend #tit;
}

.list-group-item{
    @extend #tit;
    height: 10%;
    background-color: white;
    font-size: 170%;
}

.imgcam{
    width: 13%;
    height: 5%;
}

.table{
    margin-top: 5%;
}

.imgtable{
    width: 100%;
    margin-top: 20%;
}

#map{
    margin-top: 7%;
    width: 100%;
    height: 10%;
    align-items: center;
}

.color{
    color:$color-azul;
}

#mundo{
    height: auto;
    width: 100%;
    margin-top: 5%;
}